html{
    scroll-behavior: smooth;
}



   body{
    font-family: sans-serif, Arial, Helvetica;
    margin: 0;
    }
    .container{
    width: 1140px;
    margin: 0 auto;
    }

    a{
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
    }

     button{
         font-family: inherit;
         transition: all 0.3s ease-in-out;
         -webkit-transition: all 0.3s ease-in-out ;
         -moz-transition: all 0.3s ease-in-out;
         -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
}

    .to-uppercase{
    text-transform: uppercase;
    }
    .clearfix{
    clear: both;
    }

    .section-subtitle{
        letter-spacing: 2px;
        font-weight: 500;
        margin-bottom: 0.625rem;
        color: #E97979;
        text-transform: uppercase;
        }

    .section-title{
        margin-top: 03.2rem;
        font-size: 2.62rem;
        font-weight: 700;
        text-transform: capitalize;
        color:#9E364E;
        }

    .blur-line{
        display: inline-block;
        position: relative;
        top: -2px;
        margin-left: 0.32rem;
        width: 80px;
        height: 4px;
        background-color: rgba(237,35,159,0.6);
        filter:blur(4px) ;
        -webkit-filter:blur(4px) ;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
    }

    .button,
    .main-section__action{
        margin-top: 30px;
        border: none;
        background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 100%);
        background-size: 200% auto;
        background-color: #9e364E;
        color: #e4ee57;
        font-weight: 500;
        font-size: 0.87rem;
        padding: 1.25rem 2.5rem;
        cursor: pointer;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
    }

    .button:hover,
    .main-section__action:hover{
        background-position: right center;
    }

    /*main header section*/

    .main-header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 10%);
    z-index: 10;
    }


    .main-header .container{
        display: flex;
        align-items: center;
    }

    .main-header_brand img {
    width: 70px;
    }

    .main-navigation__items{
        display: flex;
    }

    .main-navigation__item {
        padding: 0.625rem; 
        list-style: none;
    }

    .main-navigation__item a {
    color: #941848;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 500;
    }
    .main-navigation__item a:hover{
    color: #efb6df;
    }
    .main-navigation__item.active a {
    color: #efb6df;
    }

    /* footer section style*/
    .footer{
        padding: 50px 0;
        margin-top: 50px;
        background-color: rgb(94, 3, 59);
        text-align: center;
    }
    .footer__brand img{
        width: 108px;
    }

    .footer__navigation-items{
     margin-bottom: 50px;
    }

    .footer__navigation-item{
     display: inline-block;
     padding: 0 10px;
    }

    .footer__navigation-item a{
     color: white;
     text-decoration: none;
    }

    .footer__socials{
        list-style: none;
    }

     .footer__social{
     display: inline-block;
     width: 45px;
     height: 45px;
     line-height: 45px;
     text-align: center;
     background: #ffffff;
     border-radius:36px;
     color:#05364d;
     font-size: 1rem;
     margin-right: 14px;
     -webkit-border-radius:36px;
     -moz-border-radius:36px;
     -ms-border-radius:36px;
     -o-border-radius:36px;
}

.footer__social a{
color: rgb(94, 3, 59);
}

.footer__social:hover{
background: linear-gradient(90deg, #1334e6 0%, #ed239f 100%);
}

.footer__social:hover i{
color: white;
}

.footer__text{
color: #83677f;
}

@media only screen and (max-width: 991px){
    .container{
        width: 85%;
    }

    /* navigationmenu */

    .main-navigation{
        display: none;
    }
    .footer{
        width: 100%;
    }
    .footer__brand img{
        width: 97px;
    }

}


@media only screen and (max-width: 767px) {
.container{
    width: 92%;
}

    .main-navigation{
    display: none;
}
/* footer */

.footer__navigation{
    display: none;
}
}


